body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card img {
  height: 250px;
  width: 250px;
  padding-top: 50px;
}

.card {
  float: left;
}

#categoryDropdown {
  padding-left: 40px;
  padding-top: 10px;
}

#navBar {
  font-size: 30px;
  padding-left: 40px;
  padding-top: 20px;
}

#cartLink {
  padding-left: 20px;
}

#cartButton {
  margin-bottom: 20px;
}

#cartDropdown {
  margin-left: 5px;
}

.cartImg {
  height: 125px;
  width: 125px;
}

.cartItem {
  float: left;
  padding-top: 50px;
}

.cartPrice {
  margin-top: -10px;
}

.cartQuantity {
  margin-top: -6px;
}

#total {
  font-size: 20px;
  padding-left: 40px;
}