body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}





.itemCard img {
  height: 250px;
  width: 250px;
  padding-top: 50px;
}

.itemCard {
  float: left;
}

#categoryDropdown {
  padding-left: 40px;
  padding-top: 10px;
}

#navBar {
  font-size: 30px;
  padding-left: 40px;
  padding-top: 20px;
}

#cartLink {
  padding-left: 20px;
}

#accountLink {
  padding-left: 20px;
}

#cartButton {
  margin-bottom: 20px;
}

#cartDropdown {
  margin-left: 5px;
}

.cartImg {
  height: 125px;
  width: 125px;
}

.cartItem {
  float: left;
  padding-top: 50px;
}

.cartPrice {
  margin-top: -10px;
}

.cartQuantity {
  margin-top: -6px;
}

#cartTotal {
  font-size: 20px;
  padding-left: 40px;
}

.infoPage {
  text-align: center;
}

.infoImg {
  height: 350px;
  width: 350px;
  padding-top: 40px;
}

.info {
  display: inline-block;
  text-align: left;
}

.cardInfo {
  margin-bottom: -5px
}

#card {
  margin-bottom: 40px;
  margin-left: 80px;
  float: left
}

#cardInfoHeading {
  margin-left: 39px;
  margin-bottom: 0px
}

#addCardHeading {
  margin-left: 39px;
  clear: left
}

#cardForm {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  clear: left
}

.cardFormInfo {
  margin-bottom: 10px;
}

.cardFormInput {
  margin-left: 5px;
}

#cardButton {
  max-width: 80px;
  margin-top: 5px;
}

.addressInfo {
  margin-bottom: -5px
}

#address {
  margin-bottom: 40px;
  margin-left: 80px;
  float: left
}

#addressInfoHeading {
  margin-left: 39px;
  margin-bottom: 0px;
  margin-top: 38px
}

#addAddressHeading {
  margin-left: 39px;
  clear: left
}

#addressForm {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  clear: left
}

.addressFormInfo {
  margin-bottom: 10px;
}

.addressFormInput {
  margin-left: 5px;
}

#addressButton {
  max-width: 80px;
  margin-top: 5px;
  margin-bottom: 40px
}